$font-family =                'Roboto', sans-serif
$font-family2 =               'Montserrat', sans-serif

$font-smaller =               16px
$font-small =                 18px
$font-medium =                20px
$font-big =                   32px
$font-large =                 40px

$line-height-smaller =        21px
$line-height-small =          24px
$line-height-medium =         40px
$line-height-big =            48px

$regular =                    400
$medium =                     500
$semibold =                   600


$black =                      #000
$white =                      #fff
$dark =                       #092533
$red =                        #ff0000
$dark-red =                   #d70000

$opacity =                    0.6

$screen-xs =                  0
$screen-sm =                  320px
$screen-md =                  480px
$screen-md-top =              479px
$screen-lg =                  768px
$screen-lg-top =              767px
$screen-xl =                  1136px
$screen-xl-top =              1135px

$container-sm =               100%
$container-md =               100%
$container-lg =               $screen-lg
$container-xl =               $screen-xl
$padding-width =              16px



